@use "@/styles/variables" as vars;
@use "sass:color";

.button {
    width: 100%;
    padding: 14px;
    background-color: vars.$primary-teal;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        background-color: color.adjust(vars.$primary-teal, $lightness: 20%);
        cursor: not-allowed;
    }
}
