@use "@/styles/variables" as vars;

.detailItem {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .detailLabel {
        font-size: 12px;
        color: vars.$text-grey;
        text-transform: uppercase;
        font-weight: 400;
    }

    .detailValue {
        font-size: 14px;
        font-weight: 600;
        color: vars.$text-grey;
        word-break: break-all;
    }
}