.statusTag {
    padding: 6px 12px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.active {
    background-color: rgba(57, 205, 98, 0.06);
    color: #39cd62;
}

.inactive {
    background-color: rgba(84, 95, 125, 0.06);
    color: #545f7d;
}

.pending {
    background-color: rgba(233, 178, 0, 0.06);
    color: #e9b200;
}

.blacklisted {
    background-color: rgba(228, 3, 59, 0.06);
    color: #e4033b;
}